<article>
  <h5>Search</h5>
  <i class="material-icons youtube_search_for"></i>
  <input type="search" class="search" placeholder="Search lessons" ng-model="searchTerm">
  <div ng-show="searchTerm" ng-repeat="lesson in currentUser.lessons | filter: searchTerm" ng-click="selectLesson(lesson)">
    <!--<h6 class="search-result" ng-click="selectLesson(lesson)">{{lesson.lessonDetails.title}}</h6>-->
    <h6 class="search-result">{{lesson.lessonDetails.title}}</h6>
    <ul ng-repeat="term in lesson.lessonDetails.terms | filter: searchTerm">
      <!--<li class="search-result" ng-href="#termDisplayModal" ng-click="selectTerm(term)" modal>{{term.term}}, {{term.transliteration}}, {{term.explanation | limitTo: 20}}</li>-->
      <li class="search-result">{{term.term}}, {{term.transliteration}}, {{term.explanation | limitTo: 20}}</li>
    </ul>    
  </div>
</article>
