#term-display-modal {
  @include longModal();
  .card-image img {
    max-height: 30vh;
    width: auto;
    margin: 0 auto;
  }
  .title {
    font-size: .9em;
  }
  .progress {
    width: 80%;
    margin: 0 auto;
  }
  .modal-content {
    padding-bottom: 0px;

    .answers {
      text-transform: lowercase;
    }

    .finish-message {
      font-family: $script-font;
    }
    .card-title {
      font-size: 1.25em;
    }
    .term-credit {
      @include credit();
      font-size: 0.5em;
    }
    audio {
      width: 30px;
      float: right;
    }
  }
  #button-wrapper {
    display: flex;
    justify-content: center;
  }
}

.term-card {
  .img-container {
    width: 40vh;
    margin: 0 auto;

    img {
      height: 40vh;
      width: auto;
    }

  }
   .card-reveal {
      display: block;
      min-height: 58vh;
   }
}
