#termDisplayModal {
  @include longModal();
  .title {
    font-size: .90em;
  }
  .progress {
    width: 80%;
    margin: 0 auto;
  }
  .modal-content {
    padding-bottom: 0px;

    .answers {
      text-transform: lowercase;
    }

    .finish-message {
      font-family: $script-font;
    }
    .card-title {
      font-size: 1.25em;
    }
    .term-credit {
      @include credit();
      font-size: 0.5em;
    }
    audio {
      width: 30px;
      float: right;
    }
  }
  #button-wrapper {
    display: flex;
    justify-content: center;
  }
}

.term-card {
  img {
    width: 60%;
    margin: 0 auto;

  }
}
