<div id="termDisplayModal" class="modal">
  <div class="modal-header">
    <a href="#/{{stateName}}" class="modal-action modal-close waves-effect waves-green btn-flat center-align">&times;</a>
    <span class="title">{{lesson.lessonDetails.title}}</span>
    <div class="progress"><div class="determinate" style="width: {{progress}}%"></div>
</div>
  </div>
  <div class="modal-content">
    <div class="card term-card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator responsive-img" ng-src="{{lesson.lessonDetails.terms[lesson.currentTerm].image}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{lesson.lessonDetails.terms[lesson.currentTerm].term}}<i class="material-icons right">more_vert</i></span>
        <p>{{lesson.lessonDetails.terms[lesson.currentTerm].transliteration}}</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          {{lesson.lessonDetails.terms[lesson.currentTerm].term}}
          <i class="material-icons right">close</i>
        </span>
        <p>
          {{lesson.lessonDetails.terms[lesson.currentTerm].transliteration}}
          <!-- <audio controls autoplay>
            <source
            src="{{lesson.lessonDetails.terms[lesson.currentTerm].sound}}"
            type="audio/mp4"
            >
            </audio> -->
        </p>
        <p>{{lesson.lessonDetails.terms[lesson.currentTerm].explanation}}</p>
        <br>
        <div class="valign-wrapper">
          <div class="example col s6">
            <h6>Example:</h6>
            <p>{{lesson.lessonDetails.terms[lesson.currentTerm].example}}</p>
            <p>{{lesson.lessonDetails.terms[lesson.currentTerm].exampleTransliteration}}</p>
            <p>{{lesson.lessonDetails.terms[lesson.currentTerm].exampleTranslation}}</p>
          </div>
          <div class="image col s6 center-align">
            <img class="responsive-img"
            ng-src="{{lesson.lessonDetails.terms[lesson.currentTerm].image}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="button-wrapper">
    <a ng-hide="beginning" ng-click="previousTerm()" class="waves-effect waves-light btn next-term-button">Previous</a><br>
    <a ng-hide="finished" ng-click="nextTerm()" class="btn next-term-button">Next</a><br>
    <a ng-show="finished" ng-click="quitLesson()" class="modal-action modal-close waves-effect waves-light btn exit-button">Exit</a><br>
  </div>
</div>
