.lesson-display {
  @media (min-width: 900px) {
    width: 80%;
    margin: 0 auto;    
  }
  .title {
    font-family: $script-font;
  }
  .cover-image {
    width: 80%;
    margin: 0 auto;
  }
  .description {
    padding: 20px;
  }
  .source {
    padding: 20px;
    font-style: italic;
    font-size: .9em;
  }
  .sample {
    padding: 20px;    
  }
  .sample-term {
    display: inline-block;
    width: 30%;
    margin: 5%;    
  }
  .sample-image { 
    width: 100%;
    height: auto;
  }

}
.credit {
  @include credit()
}
