<div>
  
  <div class="col">
      <a class='btn' href="#loginModal" modal>Sign In To Continue</a>
  </div>
  <!-- Modal Structure -->
  <div id="loginModal" class="modal">
      <div class="modal-content">
          <h4>Please Login to Proceed</h4>
          <p>Don't worry! We only need to verify your identity.</p>
          <p>We won't use any information except your name, email, and facebook id.</p>
      </div>
      <div class="modal-footer">
        <a href="/auth/facebook"><img class="responsive-img" src="https://scontent-dft4-1.xx.fbcdn.net/t39.2178-6/851579_209602122530903_1060396115_n.png" alt=""></a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Continue Without Signing In</a>
      </div>
  </div>
</div>
