<section class="user-home-container">
  <login-modal></login-modal>
  <term-display></term-display>
  <lesson-entry-modal></lesson-entry-modal>
  <term-entry-modal></term-entry-modal>

  <div class="row">
    <div class="dashboard col s12 m10 offset-m1">
        <div class="sidebar col s12 l3">
          <div class="section">
            <user-summary></user-summary>
          </div>
          <div class="divider .hide-on-small-only"></div>
          <div class="section">
            <lesson-list-display></lesson-list-display>
          </div>
          <div class="divider"></div>
        </div>
        <div class="lesson-display-container col s12 l6">
          <div class="section">
            <lesson-display></lesson-display>
          </div>
        </div>
        <div class="contribute col s12 l3">
          <!--Search Terms, Add Terms, Add Lessons -->
          <!-- Move to directives -->
          <div class="section">
            <search-bar></search-bar>
          </div>
          <div class="divider"></div>
          <div class="section">
            <h5>Contribute</h5>
            <div class="center-align">
              <modal-trigger text="Add Lesson" target="lessonEntryModal"></modal-trigger>
              <modal-trigger text="Add Term" target="termEntryModal"></modal-trigger>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
