.user-home-container {
  min-height: 100vh;
  background: url("https://hd.unsplash.com/photo-1470075446540-4391a96ec621") no-repeat center center;
  background-size: cover;

  .lesson-list-container {
    min-height: 80vh;
  }
  .lesson-list-container, .lesson-and-user-container  {
    margin: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 5px hsla(0, 0%, 20%, 0.5);

    header {
      padding: 20px;
    }
    .figure {
      font-weight: 800;
    }
  }
}
