.user-home-container {
  min-height: 100vh;
  background: url("https://hd.unsplash.com/photo-1470075446540-4391a96ec621") no-repeat center center;
  background-size: cover;

  .dashboard {
    min-height: 60vh;
    background-color: #fff;
    box-shadow: 5px 5px 5px hsla(0, 0%, 20%, 0.5);
    padding: 50px 25px;

    .sidebar {
      border-right: 1px solid hsla(0, 0%, 40%, 0.5);
    }
  }
  .search {
    border: 1px solid hsla(0, 0%, 95%, 1);
    border-radius: 20px;
    padding-left: 10px;
  }
}
