.navigation {
  background-color: $theme-color;

  .brand-logo {
    padding: 5px 30px;
  }

  li a {
    position: relative;
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
  }

  .main-nav li a {
    @include lineAnimation(#fff);
  }
}
