<nav class="navigation">
  <div class="nav-wrapper">
    <a class="brand-logo" ui-sref="home"><img src="../../images/marathi-logo.png" alt=""></a>
    <a href="#" class="button-collapse" ng-click="showSideNav()"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down main-nav">
      <li ng-show="currentUser.loggedIn || guest"><a ng-click="showModal({target: 'term-display-modal'})">Launch Lesson</a></li>
      <li ng-hide="currentUser.loggedIn"><a ng-click="showModal({target: 'login-modal'})">Sign In</a></li>
      <li ng-show="currentUser.loggedIn || guest"><a href="/logout">Logout</a></li>
    </ul>
    <ul class="nav-mobile" id="nav-mobile">
      <li><a ng-click="hideSideNav()">&times;</a></li>
      <li ng-show="currentUser.loggedIn || guest"><a ng-click="showModal({target: 'term-display-modal'})">Launch Lesson</a></li>
      <li ng-hide="currentUser.loggedIn"><a ng-click="showModal({target: 'login-modal'})">Sign In</a></li>
      <li ng-show="currentUser.loggedIn || guest"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
