.modal {

  .title{
    font-family: $script-font;
    font-size: 2em;
  }

  font-family: $main-font;
  font-size: 1.5em;

  .explanation {
    margin-bottom: 20px
  }

  .spinner-layer, .preloader-wrapper {
    background: transparent;
  }

  .continue-button {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    text-transform: none;
    font-size: 22px;
    font-weight: 500;
    width: 290px;
    height: 60px;
  }
}
.entry-modal {
  @include longModal();
}
.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  display: none;
}