.lesson-list-display {
  .title {
    font-family: $script-font;
  }
  .lesson-summary {
    margin-bottom: 50px;
  }
}

.search-result {
  cursor: pointer;
  border-bottom: 1px solid $theme-color;
}
.active {
  background: #eaeaea;
}
