<article class="lesson-list-display">
  <h4>Lessons</h4>
  <main class="row">
    <div class="lesson-summary valign-wrapper center-align" ng-repeat="lesson in currentUser.lessons" ng-click="selectLesson(lesson)">
      <div class="col s2"><progress-circle></progress-circle></div>
      <div class="col s10">
        <div>
          <h5>{{lesson.lessonDetails.title}}</h5>
          <img class="responsive-img" ng-src="{{lesson.lessonDetails.image}}" alt="">
        </div>
        <div class="col s12">
          <h6>{{lesson.lessonDetails.description}}</h6>
        </div>
      </div>
    <div class="divider"></div>
    </div>
  </main>
</article>
